:root {
    --pf-global--primary-color--100: var(--pf-global--palette--orange-300) !important;
    --pf-global--primary-color--200: var(--pf-global--palette--orange-300) !important;
    --pf-global--primary-color--light-100: var(--pf-global--palette--orange-300) !important;
    --pf-global--primary-color--dark-100: var(--pf-global--palette--orange-300) !important;

    --pf-global--link--Color: var(--pf-global--palette--orange-300) !important;
    --pf-global--link--Color--hover: var(--pf-global--palette--orange-500) !important;
    --pf-global--link--Color--light: var(--pf-global--palette--orange-100) !important;
    --pf-global--link--Color--light--hover: var(--pf-global--palette--orange-300) !important;
    --pf-global--link--Color--dark: var(--pf-global--palette--orange-600) !important;
    --pf-global--link--Color--dark--hover: var(--pf-global--palette--orange-900) !important;

    --pf-global--active-color--100: var(--pf-global--palette--orange-100) !important;
    --pf-global--active-color--200: var(--pf-global--palette--orange-200) !important;
    --pf-global--active-color--300: var(--pf-global--palette--orange-300) !important;
    --pf-global--active-color--400: var(--pf-global--palette--orange-400) !important;

    --header--Color: #FFFFFF;
    --grey--Color: #e1e1e1;
    --font--Color: #e97826;
    --title--Color: #303284;;
    --font-stack: "Open Sans", sans-serif;
}

body {
    font-family: var(--font-stack);
}

.pf-c-page, .pf-c-page__header, .pf-c-page__main-section {
    --pf-c-page__header--BackgroundColor: var(--header--Color);
    --pf-global--link--Color: var(--font--Color);
    background-color: var(--header--Color);
}

h1 {
    font-weight: var(--pf-global--FontWeight--bold);
}

.github {
    width: 2em;
}

.pf-c-nav__link {
    color: #e97826;
    text-transform: uppercase;
    font-weight:700;
}
.pf-c-nav__link:hover {
    text-decoration: underline;
}

.pf-c-nav__link.pf-m-current{
    font-weight: var(--pf-global--FontWeight--bold);
    background: var(--header--Color);
}

.pf-c-nav__link:hover, .pf-c-nav__link.pf-m-current:hover{
    background: var(--header--Color);
}

.pf-c-nav__link:after, .pf-c-nav__link:before {
    border-bottom: none;
    border-top: none;
}
.top-border {
    -webkit-box-shadow: 0 -1px 0 var(--grey--Color);
    box-shadow: 0 -1px 0 var(--grey--Color);
    margin-top: 1px;
}

.pf-c-page__sidebar {
    box-shadow: 1px 0px var(--grey--Color);
}

.pf-c-button {
    --pf-c-button--BorderRadius: 3rem;
}

.no-padding {
    padding: 0;
}

.no-padding-top {
    padding-top: 0;
}

.table td.fit, .table th.fit {
    white-space: nowrap;
    width: 1%;
}

.completed {
    text-decoration: line-through;
}

.form-text-width {
    width: 800px;
}

.form-textarea-height {
    height: 300px !important;
}

/* main */

.main .pf-c-page__header-brand {
    padding-left: 0.7em;
    padding-right: 0;
}

.main .pf-c-page__header-brand-link{
    padding-right: 0.7em;
}

.main .github-link{
    display: flex;
}

.main .classic {
    padding-top: 0;
    background-color: var(--header--Color);
}

.main .navigation{
    padding-left: 0;
}

.logo {
    height: 5em;
    width: 4rem;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 11rem;
    background-position-x: 0px;
    background-position-y: 10px;
}

.pf-c-table  .filter {
    padding: 0.5em;
}

.pf-c-alert.status {
    --pf-c-alert--BoxShadow: var(--pf-global--BoxShadow--md);
}

.pf-c-page__main-section.dashboard-subtitle {
    padding-top: 1em;
    padding-bottom: 0;
}

.pf-l-gallery.dashboard {
    --pf-l-gallery--GridTemplateColumns: repeat(auto-fill,minmax(300px,1fr));
}

.tabs {
    background: white;
}

.centered.pf-c-form__group-label {
    padding-bottom: 0;
}

.pf-c-title.status {
    height: 9em;
}

.value {
    width: 20%;
}


/* project */

.project, .components, .selected{
    border-color: var(--pf-global--BorderColor--300);
    border-width: var(--pf-global--BorderWidth--sm);
    border-style: solid;
}

.project .title, .components .title, .selected .title {
     background: var(--pf-global--BackgroundColor--200);
     padding: 1em;
 }

.project .form {
     padding: 1em;
 }

/* components */

.components .toolbar {
    padding-top: 1em;
    padding-bottom: 0em;
}
.components .toolbar .pf-m-search-filter{
    width: 100%;
}

.components-grid {
 padding: 1em;
}

.component-card  .pf-c-card__title {
    background: transparent;
    padding-bottom: 0;
    margin-bottom: 0.5 em;
}

.component-card  .pf-c-card__body {
    padding-bottom: 0.5em;
    padding-top: 0em;
}

.component-card  .pf-c-card__body .description {
    font-weight: 100;
}

.component-card  .pf-c-card__footer .pf-c-button {
    padding: 0;
}

.component-card  .pf-c-card__footer .artifact-id {
    padding: 0;
    font-family: monospace;
    font-weight: 100;
}

.component-card .badge .pf-l-flex__item {
    margin-right: 1px;
}

.component-card .badge .pf-c-badge {
    font-weight: 100;
}

.component-card .badge .preview {
    background-color: #4d4fb7;
}

/* selected components */
.selected {
    margin-top: 1em;
}

.selected .pf-c-card__title {
     background: var(--pf-global--BackgroundColor--200);
 }

.selected .component {
    display: grid;
}

.selected .component .artifact-id {
    font-family: monospace;
    font-weight: 100;
}
.selected .component {
    font-weight: 700;
}
